@import "tailwindcss";
@import "@nuxt/ui";

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

template,[hidden] {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: 0;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: inherit
}

b,strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,input,select,textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html [type="button"],[type="reset"],[type="submit"] {
    -webkit-appearance: button;
    appearance: button
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type="checkbox"],[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.modal-open {
    overflow: hidden
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}

.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}

.modal-header {
    padding: 15px
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media(min-width: 768px) {
    .modal-dialog {
        width:600px;
        margin: 30px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5)
    }

    .modal-sm {
        width: 300px
    }
}

@media(min-width: 992px) {
    .modal-lg {
        width:900px
    }
}

.clearfix:before,.clearfix:after,.modal-header:before,.modal-header:after,.modal-footer:before,.modal-footer:after {
    content: " ";
    display: table
}

.clearfix:after,.modal-header:after,.modal-footer:after {
    clear: both
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none !important
}

.affix {
    position: fixed
}

* {
    -webkit-font-smoothing: antialiased
}

body {
    font-family: "Exo 2",sans-serif;
    font-size: 17px
}

.show_mobile {
    display: none
}

@media(max-width: 700px) {
    .show_mobile {
        display:block
    }
}

@media(max-width: 700px) {
    .hide_mobile {
        display:none !important
    }
}

a[href$=".docx"]:before {
    content: url("/assets/templates/img/doc.svg")
}

a[href$=".doc"]:before {
    content: url("/assets/templates/img/doc.svg")
}

a[href$=".xls"]:before {
    content: url("/assets/templates/img/xls.svg")
}

a[href$=".xlsx"]:before {
    content: url("/assets/templates/img/xls.svg")
}

a[href$=".pdf"]:before {
    content: url("/assets/templates/img/pdf.svg")
}

.date {
    display: inline-block;
    font-size: .8em;
    color: white;
    padding: 3px 10px;
    background: #17438d
}

.file {
    display: inline-block;
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
    margin-left: 20px
}

.file:before {
    position: absolute;
    top: -5px;
    left: -20px
}

.isfolder {
    display: flex;
    flex-direction: column
}

.isfolder a {
    margin: 5px 0
}

.files-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column
}

.pagination {
    height: 40px;
    line-height: 40px;
    padding: 0 20px
}

.pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 50px
}

.pagination li {
    display: inline-block;
    color: #7a7a7a;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis
}

.pagination a {
    display: block;
    position: relative;
    padding-right: 15px;
    margin-right: 3px
}

.pagination a:after {
    top: 50%;
    margin-top: -3px;
    right: 0
}

.pagination a:hover {
    text-decoration: none
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px
}

.t-duration {
    transition-duration: .3s
}

a {
    color: #1d3770;
    transition-duration: .3s
}

a:hover {
    color: #0f539e;
    transition-duration: .3s
}

h1,h2,h3,h4,h5 {
    letter-spacing: .18px;
    margin: 20px 0 10px 0;
    color: #1d3770;
    font-weight: 500
}

h1 a,h2 a,h3 a,h4 a,h5 a {
    text-decoration: none;
    border-bottom: 1px solid #97adc5;
    color: #750000
}

.h1 {
    font-size: 35px
}

h2 {
    font-size: 2em;
    font-weight: 400
}

.other-news {
    margin-top: 100px
}

.h3 {
    font-size: 20px;
    color: #0f539e;
    text-align: center
}

.h3 a {
    color: #0f539e
}

header {
    background: url("/img/bg.png") 55% bottom no-repeat,linear-gradient(-180deg,#f3f8fc 0,#e2eef8 100%);
    padding: 35px 0;
    background-size: contain;
    background-repeat: no-repeat
}

header .container {
    display: flex;
    justify-content: space-between
}

header a.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1d3770;
    font-size: 1.7em;
    line-height: 1;
    font-weight: 500
}

header a.logo img {
    margin-right: 20px
}

header .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1d3770
}

header .contacts .tools {
    display: flex;
    flex-direction: column-reverse;
    align-items: center
}

header .contacts .tools .search {
    text-align: center
}

header .contacts .tools .search input {
    width: 130px;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out
}

header .contacts .tools .search input:focus {
    width: 100%
}

header .contacts .tools .bigfonts {
    margin: 0 5px;
    display: flex;
    align-items: center
}

header .contacts .tools .bigfonts .letters {
    text-decoration: underline;
    cursor: pointer;
    padding: 3px;
    margin-bottom: 5px
}

header .contacts .tools .bigfonts .letters-small {
    font-size: .9em
}

header .contacts .tools .bigfonts .letters-medium {
    font-size: 1em
}

header .contacts .tools .bigfonts .letters-big {
    font-size: 1.4em
}

header .contacts .tools .bigfonts .color-scheme {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: white;
    border: 2px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    margin: 0 2px
}

header .contacts .tools .bigfonts .color-scheme-blue {
    background: dodgerblue;
    color: orange;
    transition-duration: .3s
}

header .contacts .tools .bigfonts .color-scheme-blue:hover {
    background: #005db7;
    transition-duration: .3s
}

header .contacts .tools .bigfonts .color-scheme-brown {
    background: #fbf7c6;
    color: #744307;
    transition-duration: .3s
}

header .contacts .tools .bigfonts .color-scheme-brown:hover {
    background: #f4ea67;
    transition-duration: .3s
}

header .contacts .tools .bigfonts .color-scheme-inverse {
    background: #000;
    color: white
}

header .contacts .tools .rating {
    background: red;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding: 0 10px;
    line-height: 1;
    height: 17px
}

header .contacts .tools .weblind {
    width: 50px;
    height: 45px;
    cursor: pointer
}

header .contacts .tools .weblind path {
    transition-duration: .3s
}

header .contacts .tools .weblind:hover path {
    fill: #325fc1;
    transition-duration: .3s
}

header .contacts .phone {
    color: #1d3770;
    font-size: 2.05em;
    text-decoration: none
}

header .contacts .address {
    font-size: .97em
}

header .contacts .email {
    color: #1d3770
}

@media(max-width: 850px) {
    header .container {
        flex-direction:column;
        align-items: center
    }

    header .container a.logo {
        margin-bottom: 30px
    }
}

@media(max-width: 560px) {
    header .container a.logo {
        flex-direction:column;
        align-items: center;
        text-align: center
    }
}

nav.main {
    background: #1d3770;
    box-shadow: 0 2px 27px 5px rgba(16,43,85,.5);
    margin-bottom: 30px
}

nav.main .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

nav.main .container a {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    color: white;
    padding: 15px 3.3%;
    text-decoration: none;
    font-weight: 500
}

nav.main .container a:hover {
    background: #325fc1
}

nav.main .container .e-catalog {
    text-align: center;
    padding: 7px 30px
}

@media(max-width: 560px) {
    nav.main .container {
        flex-direction:column;
        align-items: center;
        text-align: center
    }
}

.news-flex {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.news-flex .news-item {
    margin: 0 10px 20px 10px;
    position: relative;
    width: 22%
}

.news-flex .news-item:nth-child(1) {
    margin-left: 0
}

.news-flex .news-item:hover .title {
    color: #1d3770
}

.news-flex .news-item:hover img {
    transition-duration: .3s
}

.news-flex .news-item img {
    width: 100%;
    transition-duration: .3s
}

.news-flex .news-item a {
    text-decoration: none;
    display: block;
    color: black
}

.news-flex .news-item .date {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: .8em;
    color: white;
    padding: 3px 10px;
    background: #17438d
}

.news-flex .news-item .title {
    font-size: 1.1em;
    border-bottom: 1px solid rgba(0,0,0,.4)
}

.news-flex .news-item .intro {
    margin-top: 10px;
    display: block
}

@media(max-width: 800px) {
    .news-flex .news-item {
        width:45%
    }
}

@media(max-width: 540px) {
    .news-flex .news-item {
        width:100%
    }
}

.main-top-info {
    display: flex;
    justify-content: space-between
}

.main-top-info .news {
    width: 100%
}

.main-top-info .news .news-more-link {
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.4)
}

.main-top-info .news .news-more-link:after {
    content: "→";
    border-bottom: 0
}

.main-top-info .side-info a {
    text-decoration: none
}

.main-top-info .side-info a:before {
    content: ""
}

.main-top-info .side-info a[href$=".docx"]:before {
    content: ""
}

.main-top-info .side-info .button {
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #1d3770;
    display: block;
    border-radius: 4px
}

.main-top-info .side-info .button:hover {
    background: #1d3770;
    color: white
}

@media(max-width: 860px) {
    .main-top-info {
        flex-direction:column;
        align-items: center
    }
}

.container-events {
    margin-top: 60px
}

.container-events .events {
    display: flex;
    flex-wrap: wrap
}

.container-events .events .event {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 0;
    box-sizing: border-box
}

.container-events .events .event img {
    width: 100%
}

.container-events .events .event .event-date {
    background: #1d3770;
    box-shadow: 0 7px 21px 0 rgba(0,0,50,.4);
    border-radius: 5px;
    text-align: center;
    color: white;
    min-width: 70px;
    padding: 10px 0 15px 0;
    margin: 0 20px 0 0
}

.container-events .events .event .event-date .event-date-number {
    font-size: 2.2em;
    line-height: 1.1
}

.container-events .events .event .event-date .event-date-month {
    font-size: .9em
}

.container-events .events .event .event-info-title {
    font-size: 22px;
    color: black
}

.container-events .events .event .event-info-desc {
    margin-top: 10px
}

@media(max-width: 540px) {
    .container-events .events {
        flex-direction:column
    }

    .container-events .events .event {
        width: 100%
    }
}

.breadcrumb {
    padding: 0;
    margin: 50px 0 0 0;
    display: flex;
    flex-wrap: wrap
}

.breadcrumb li {
    list-style-type: none;
    margin: 0 5px
}

.container-content {
    min-height: 500px
}

.container-content h1 {
    margin: 20px 0 10px 0
}

.container-content .inner-content {
    margin-top: 50px;
    display: flex;
    align-items: flex-start
}

.container-content .inner-content .content {
    flex: 100 0
}

.container-content .inner-content .content-side {
    flex: 1 0 300px;
    margin-left: 40px;
    border: #1d3770 1px solid;
    border-radius: 5px;
    padding: 10px 20px 30px 20px;
    box-sizing: border-box
}

.container-content .inner-content .content-side .look_at {
    display: flex;
    flex-direction: column
}

.container-content .inner-content .content-side .look_at a {
    margin: 15px 0 0 20px;
    position: relative
}

.container-content .inner-content .content-side .look_at a.active:before {
    content: "";
    position: absolute;
    top: 7px;
    left: -20px;
    display: block;
    background: #5074c3;
    width: 10px;
    height: 10px;
    border-radius: 100%
}

.container-actions {
    margin-top: 60px;
    display: flex;
    justify-content: space-between
}

.container-actions .action-button {
    display: block;
    text-align: center;
    font-size: 1.6em;
    width: 50%;
    border: 3px solid;
    padding: 15px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 8px
}

.container-actions .action-button:hover {
    background: #1d3770;
    color: white;
    border: 3px solid #1d3770
}

.container-actions .action-button-book {
    border-color: forestgreen;
    color: forestgreen
}

.container-actions .action-button-book:hover {
    background: forestgreen;
    color: white;
    border: 3px solid forestgreen
}

@media(max-width: 540px) {
    .container-actions {
        flex-direction:column
    }

    .container-actions .action-button {
        width: 100%;
        margin: 0 0 20px 0;
        box-sizing: border-box
    }
}

.container-gallery {
    display: flex;
    margin-top: 30px
}

.container-gallery .gallery {
    flex: 1 0;
    min-width: 300px
}

.container-gallery .gallery .slick-prev {
    z-index: 800;
    width: 50px;
    left: 10px;
    top: 57%;
    height: 200px
}

.container-gallery .gallery .slick-prev:before {
    content: url("/img/arrow-prev-black.svg")
}

.container-gallery .gallery .slick-slider {
    margin-bottom: 0 !important
}

.container-gallery .gallery .slick-next {
    width: 50px;
    height: 200px;
    right: 20px;
    top: 57%;
    z-index: 800
}

.container-gallery .gallery .slick-next:before {
    content: url("/img/arrow-next-black.svg")
}

.container-gallery .gallery .slick-dots {
    display: none !important;
    bottom: 15px
}

.container-gallery .gallery .slick-dots li button:before {
    content: "";
    opacity: 1;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5),inset 0 1px 3px 2px rgba(0,0,0,.39);
    color: white
}

.container-gallery .gallery .slick-dots .slick-active button:before {
    color: blue;
    background: #1d3770
}

.container-gallery .mission {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #ffffe3;
    border: 1px solid #ffdb67;
    flex: 0 1 300px;
    margin-left: 20px
}

@media(max-width: 540px) {
    .container-gallery {
        flex-direction:column
    }

    .container-gallery .gallery {
        margin-bottom: 20px
    }

    .container-gallery .mission {
        margin: 0
    }
}

.useful-links {
    margin-top: 30px;
    margin-bottom: 30px
}

.useful-links .links-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.useful-links .links-block .link {
    width: 30%;
    margin: 5px 0
}

.useful-links .links-block .link img {
    width: 20px;
    line-height: 0
}

footer {
    margin-top: 100px;
    background: #1d3770;
    padding-bottom: 80px;
    color: white
}

footer nav.footer {
    margin-bottom: 50px
}

footer .copy span {
    display: block
}

footer .copy .privacy a {
    color: white;
    font-size: .85em
}

footer .copy .name {
    font-size: .95em
}

footer .made-in {
    display: flex;
    align-items: center;
    margin-top: 5px
}

footer .made-in--picture {
    width: 40px;
    margin-right: 5px
}

footer .made-in--text {
    font: 10px Helvetica,Verdana,sans-serif;
    margin: 0;
    color: #fff
}

footer .made-in--year {
    font: 10px Helvetica,Verdana,sans-serif;
    margin: 0;
    color: white
}

footer .made-in--link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid lightslategrey;
    padding-bottom: 1px;
    transition-duration: .3s
}

footer .made-in--link:hover {
    color: lightcoral;
    border-bottom: 1px solid lightcoral;
    transition-duration: .3s;
    text-decoration: none
}

body.weblind-classic header {
    background-image: none
}

body.weblind-classic header img {
    filter: saturate(0)
}

body.weblind-classic .news-flex .news-item:nth-child(1) {
    margin-left: 0
}

body.weblind-classic .news-flex .news-item:hover .title {
    color: black
}

body.weblind-classic .news-flex .news-item img {
    visibility: hidden;
    display: none;
    transition-duration: .3s
}

body.weblind-classic .news-flex .news-item a {
    text-decoration: none;
    display: block;
    color: black
}

body.weblind-classic .news-flex .news-item .date {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-size: .8em;
    color: white;
    padding: 3px 10px;
    background: black
}

body.weblind-classic .news-flex .news-item .title {
    font-size: 1.1em;
    border-bottom: 1px solid rgba(0,0,0,.4)
}

body.weblind-classic .news-flex .news-item .intro {
    margin-top: 10px;
    display: block
}

body.weblind-classic nav.main {
    background: none;
    box-shadow: none;
    border-top: 3px solid black;
    border-bottom: 3px solid black
}

body.weblind-classic nav.main .container a {
    color: black;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent
}

body.weblind-classic nav.main .container a:hover {
    border-right: 3px solid black;
    border-left: 3px solid black;
    background: black;
    color: white
}

body.weblind-classic .main-top-info .news .news-more-link {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.4)
}

body.weblind-classic .main-top-info .news .news-more-link:after {
    content: "→";
    border-bottom: 0
}

body.weblind-classic .main-top-info .side-info {
    padding-top: 90px;
    max-width: 250px
}

body.weblind-classic .main-top-info .side-info img {
    display: none
}

body.weblind-classic .main-top-info .side-info .button {
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    display: block;
    border-radius: 4px;
    color: black
}

body.weblind-classic .main-top-info .side-info .button:hover {
    background: black;
    color: white
}

body.weblind-classic .container-events {
    margin-top: 60px
}

body.weblind-classic .container-events .events {
    display: flex;
    flex-wrap: wrap
}

body.weblind-classic .container-events .events .event {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 0;
    box-sizing: border-box
}

body.weblind-classic .container-events .events .event img {
    width: 100%
}

body.weblind-classic .container-events .events .event .event-date {
    background: white;
    border: 3px solid black;
    box-shadow: 0 7px 21px 0 rgba(0,0,50,.4);
    border-radius: 5px;
    text-align: center;
    color: black;
    min-width: 70px;
    padding: 10px 0 15px 0;
    margin: 0 20px 0 0
}

body.weblind-classic .container-events .events .event .event-date .event-date-number {
    font-size: 2.2em;
    line-height: 1.1
}

body.weblind-classic .container-events .events .event .event-date .event-date-month {
    font-size: .9em
}

body.weblind-classic .container-events .events .event .event-info-title {
    font-size: 22px;
    color: black
}

body.weblind-classic .container-events .events .event .event-info-desc {
    margin-top: 10px
}

body.weblind-classic .container-actions {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between
}

body.weblind-classic .container-actions .action-button {
    display: block;
    text-align: center;
    font-size: 1.6em;
    width: 50%;
    border: 3px solid;
    padding: 15px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 8px
}

body.weblind-classic .container-actions .action-button:hover {
    background: black;
    color: white;
    border: 3px solid black
}

body.weblind-classic .container-actions .action-button-book {
    border-color: black;
    color: black
}

body.weblind-classic .container-actions .action-button-book:hover {
    background: black;
    color: white;
    border: 3px solid black
}

body.weblind-classic .container-gallery-wrapper h2 {
    display: none
}

body.weblind-classic .container-gallery {
    display: flex;
    margin-bottom: 60px
}

body.weblind-classic .container-gallery .gallery {
    visibility: hidden;
    display: none;
    flex: 1 0;
    min-width: 300px
}

body.weblind-classic .container-gallery .gallery .slick-prev {
    z-index: 800;
    width: 50px;
    left: 10px;
    top: 57%;
    height: 200px
}

body.weblind-classic .container-gallery .gallery .slick-prev:before {
    content: url("/img/arrow-prev-black.svg")
}

body.weblind-classic .container-gallery .gallery .slick-slider {
    margin-bottom: 0 !important
}

body.weblind-classic .container-gallery .gallery .slick-next {
    width: 50px;
    height: 200px;
    right: 20px;
    top: 57%;
    z-index: 800
}

body.weblind-classic .container-gallery .gallery .slick-next:before {
    content: url("/img/arrow-next-black.svg")
}

body.weblind-classic .container-gallery .gallery .slick-dots {
    display: none !important;
    bottom: 15px
}

body.weblind-classic .container-gallery .gallery .slick-dots li button:before {
    content: "";
    opacity: 1;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5),inset 0 1px 3px 2px rgba(0,0,0,.39);
    color: white
}

body.weblind-classic .container-gallery .gallery .slick-dots .slick-active button:before {
    color: blue;
    background: #1d3770
}

body.weblind-classic .container-gallery .mission {
    padding: 0;
    background: white;
    border: 0;
    flex: 0 1 100%
}

body.weblind-classic .useful-links .links-block .link {
    color: black
}

body.weblind-classic .useful-links .links-block .link img {
    display: none
}

body.weblind-classic footer {
    background: white;
    color: black
}

body.weblind-classic footer .copy .privacy a {
    color: black
}

body.weblind-classic footer .made-in--text {
    font: 10px Helvetica,Verdana,sans-serif;
    margin: 0;
    color: #000
}

body.weblind-classic footer .made-in--year {
    font: 10px Helvetica,Verdana,sans-serif;
    margin: 0;
    color: black
}

body.weblind-classic footer .made-in--link {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid lightslategrey;
    padding-bottom: 1px;
    transition-duration: .3s
}

body.weblind-classic footer .made-in--link:hover {
    color: lightcoral;
    border-bottom: 1px solid lightcoral;
    transition-duration: .3s;
    text-decoration: none
}

body.weblind-inverse {
    background: black;
    color: white
}

body.weblind-inverse h1,body.weblind-inverse h2,body.weblind-inverse h3,body.weblind-inverse h4,body.weblind-inverse h5 {
    letter-spacing: .18px;
    margin: 20px 0 10px 0;
    color: white;
    font-weight: 500
}

body.weblind-inverse h1 a,body.weblind-inverse h2 a,body.weblind-inverse h3 a,body.weblind-inverse h4 a,body.weblind-inverse h5 a {
    text-decoration: none;
    border-bottom: 1px solid white;
    color: white
}

body.weblind-inverse header {
    background-image: none
}

body.weblind-inverse header .logo,body.weblind-inverse header .contacts,body.weblind-inverse header a.phone,body.weblind-inverse header a.email {
    color: white
}

body.weblind-inverse header img {
    filter: saturate(0)
}

body.weblind-inverse header .color-scheme-inverse {
    color: black
}

body.weblind-inverse .news-flex .news-item:nth-child(1) {
    margin-left: 0
}

body.weblind-inverse .news-flex .news-item:hover .title {
    color: white
}

body.weblind-inverse .news-flex .news-item img {
    visibility: hidden;
    display: none;
    transition-duration: .3s
}

body.weblind-inverse .news-flex .news-item a {
    text-decoration: none;
    display: block;
    color: white
}

body.weblind-inverse .news-flex .news-item .date {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-size: .8em;
    color: white;
    padding: 0;
    background: transparent
}

body.weblind-inverse .news-flex .news-item .title {
    font-size: 1.4em;
    border-bottom: 1px solid rgba(0,0,0,.4)
}

body.weblind-inverse .news-flex .news-item .intro {
    margin-top: 10px;
    display: block
}

body.weblind-inverse nav.main {
    background: none;
    box-shadow: none;
    border-top: 3px solid white;
    border-bottom: 3px solid white
}

body.weblind-inverse nav.main .container a {
    color: white;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent
}

body.weblind-inverse nav.main .container a:hover {
    border-right: 3px solid black;
    border-left: 3px solid black;
    background: black;
    color: white
}

body.weblind-inverse .main-top-info .news .news-more-link {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.4)
}

body.weblind-inverse .main-top-info .news .news-more-link:after {
    content: "→";
    border-bottom: 0
}

body.weblind-inverse .main-top-info .side-info {
    padding-top: 90px;
    max-width: 250px
}

body.weblind-inverse .main-top-info .side-info img {
    display: none
}

body.weblind-inverse .main-top-info .side-info .button {
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid white;
    display: block;
    border-radius: 4px;
    color: white
}

body.weblind-inverse .main-top-info .side-info .button:hover {
    background: black;
    color: white;
    font-weight: bold
}

body.weblind-inverse .container-events {
    margin-top: 60px
}

body.weblind-inverse .container-events .events {
    display: flex;
    flex-wrap: wrap
}

body.weblind-inverse .container-events .events .event {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 0;
    box-sizing: border-box
}

body.weblind-inverse .container-events .events .event img {
    width: 100%
}

body.weblind-inverse .container-events .events .event .event-date {
    background: white;
    border: 3px solid black;
    box-shadow: 0 7px 21px 0 rgba(0,0,50,.4);
    border-radius: 5px;
    text-align: center;
    color: black;
    min-width: 70px;
    padding: 10px 0 15px 0;
    margin: 0 20px 0 0
}

body.weblind-inverse .container-events .events .event .event-date .event-date-number {
    font-size: 2.2em;
    line-height: 1.1
}

body.weblind-inverse .container-events .events .event .event-date .event-date-month {
    font-size: .9em
}

body.weblind-inverse .container-events .events .event .event-info-title {
    font-size: 22px;
    color: white
}

body.weblind-inverse .container-events .events .event .event-info-desc {
    margin-top: 10px
}

body.weblind-inverse .container-actions {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between
}

body.weblind-inverse .container-actions .action-button {
    display: block;
    text-align: center;
    font-size: 1.6em;
    width: 50%;
    border: 3px solid;
    border: 3px solid white;
    padding: 15px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 8px;
    color: white
}

body.weblind-inverse .container-actions .action-button:hover {
    background: black;
    color: white;
    border: 3px solid white;
    font-weight: bold
}

body.weblind-inverse .container-actions .action-button-book {
    color: white;
    border: 3px solid white
}

body.weblind-inverse .container-actions .action-button-book:hover {
    background: black;
    color: white;
    border: 3px solid white;
    font-weight: bold
}

body.weblind-inverse .container-gallery-wrapper h2 {
    display: none
}

body.weblind-inverse .container-gallery {
    display: flex;
    margin-bottom: 60px
}

body.weblind-inverse .container-gallery .gallery {
    visibility: hidden;
    display: none;
    flex: 1 0;
    min-width: 300px
}

body.weblind-inverse .container-gallery .gallery .slick-prev {
    z-index: 800;
    width: 50px;
    left: 10px;
    top: 57%;
    height: 200px
}

body.weblind-inverse .container-gallery .gallery .slick-prev:before {
    content: url("/img/arrow-prev-black.svg")
}

body.weblind-inverse .container-gallery .gallery .slick-slider {
    margin-bottom: 0 !important
}

body.weblind-inverse .container-gallery .gallery .slick-next {
    width: 50px;
    height: 200px;
    right: 20px;
    top: 57%;
    z-index: 800
}

body.weblind-inverse .container-gallery .gallery .slick-next:before {
    content: url("/img/arrow-next-black.svg")
}

body.weblind-inverse .container-gallery .gallery .slick-dots {
    display: none !important;
    bottom: 15px
}

body.weblind-inverse .container-gallery .gallery .slick-dots li button:before {
    content: "";
    opacity: 1;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5),inset 0 1px 3px 2px rgba(0,0,0,.39);
    color: white
}

body.weblind-inverse .container-gallery .gallery .slick-dots .slick-active button:before {
    color: blue;
    background: #1d3770
}

body.weblind-inverse .container-gallery .mission {
    padding: 0;
    background: transparent;
    border: 0;
    color: white;
    flex: 0 1 100%
}

body.weblind-inverse .useful-links .links-block .link {
    color: white
}

body.weblind-inverse .useful-links .links-block .link img {
    display: none
}

body.weblind-inverse footer {
    background: black;
    color: white
}

body.weblind-inverse footer .copy .privacy a {
    color: white
}

body.weblind-inverse footer .made-in--text {
    font: 10px Helvetica,Verdana,sans-serif;
    margin: 0;
    color: white
}

body.weblind-inverse footer .made-in--year {
    font: 10px Helvetica,Verdana,sans-serif;
    margin: 0;
    color: white
}

body.weblind-inverse footer .made-in--link {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid lightslategrey;
    padding-bottom: 1px;
    transition-duration: .3s
}

body.weblind-inverse footer .made-in--link:hover {
    color: lightcoral;
    border-bottom: 1px solid lightcoral;
    transition-duration: .3s;
    text-decoration: none
}

body.weblind-blue {
    background: dodgerblue
}

body.weblind-blue h2 a,body.weblind-blue h1 a,body.weblind-blue h3 a,body.weblind-blue h4 a,body.weblind-blue h5 a {
    color: black;
    border-bottom: 1px solid black
}

body.weblind-blue h1,body.weblind-blue h2,body.weblind-blue h3,body.weblind-blue h4,body.weblind-blue h5 {
    color: black
}

body.weblind-blue header {
    background-image: none
}

body.weblind-blue header img {
    filter: saturate(0)
}

body.weblind-blue .news-flex .news-item:nth-child(1) {
    margin-left: 0
}

body.weblind-blue .news-flex .news-item:hover .title {
    color: black
}

body.weblind-blue .news-flex .news-item img {
    visibility: hidden;
    display: none;
    transition-duration: .3s
}

body.weblind-blue .news-flex .news-item a {
    text-decoration: none;
    display: block;
    color: black
}

body.weblind-blue .news-flex .news-item .date {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-size: .8em;
    color: white;
    padding: 3px 10px;
    background: black
}

body.weblind-blue .news-flex .news-item .title {
    font-size: 1.1em;
    border-bottom: 1px solid rgba(0,0,0,.4)
}

body.weblind-blue .news-flex .news-item .intro {
    margin-top: 10px;
    display: block
}

body.weblind-blue nav.main {
    background: none;
    box-shadow: none;
    border-top: 3px solid black;
    border-bottom: 3px solid black
}

body.weblind-blue nav.main .container a {
    color: black;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent
}

body.weblind-blue nav.main .container a:hover {
    border-right: 3px solid black;
    border-left: 3px solid black;
    background: black;
    color: white
}

body.weblind-blue .main-top-info .news .news-more-link {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.4)
}

body.weblind-blue .main-top-info .news .news-more-link:after {
    content: "→";
    border-bottom: 0
}

body.weblind-blue .main-top-info .side-info {
    padding-top: 90px;
    max-width: 250px
}

body.weblind-blue .main-top-info .side-info img {
    display: none
}

body.weblind-blue .main-top-info .side-info .button {
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    display: block;
    border-radius: 4px;
    color: black
}

body.weblind-blue .main-top-info .side-info .button:hover {
    background: black;
    color: white
}

body.weblind-blue .container-events {
    margin-top: 60px
}

body.weblind-blue .container-events .events {
    display: flex;
    flex-wrap: wrap
}

body.weblind-blue .container-events .events .event {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 0;
    box-sizing: border-box
}

body.weblind-blue .container-events .events .event img {
    width: 100%
}

body.weblind-blue .container-events .events .event .event-date {
    background: white;
    border: 3px solid black;
    box-shadow: 0 7px 21px 0 rgba(0,0,50,.4);
    border-radius: 5px;
    text-align: center;
    color: black;
    min-width: 70px;
    padding: 10px 0 15px 0;
    margin: 0 20px 0 0
}

body.weblind-blue .container-events .events .event .event-date .event-date-number {
    font-size: 2.2em;
    line-height: 1.1
}

body.weblind-blue .container-events .events .event .event-date .event-date-month {
    font-size: .9em
}

body.weblind-blue .container-events .events .event .event-info-title {
    font-size: 22px;
    color: black
}

body.weblind-blue .container-events .events .event .event-info-desc {
    margin-top: 10px
}

body.weblind-blue .container-actions {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between
}

body.weblind-blue .container-actions .action-button {
    display: block;
    text-align: center;
    font-size: 1.6em;
    width: 50%;
    border: 3px solid;
    padding: 15px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 8px
}

body.weblind-blue .container-actions .action-button:hover {
    background: black;
    color: white;
    border: 3px solid black
}

body.weblind-blue .container-actions .action-button-book {
    border-color: black;
    color: black
}

body.weblind-blue .container-actions .action-button-book:hover {
    background: black;
    color: white;
    border: 3px solid black
}

body.weblind-blue .container-gallery-wrapper h2 {
    display: none
}

body.weblind-blue .container-gallery {
    display: flex;
    margin-bottom: 60px
}

body.weblind-blue .container-gallery .gallery {
    visibility: hidden;
    display: none;
    flex: 1 0;
    min-width: 300px
}

body.weblind-blue .container-gallery .gallery .slick-prev {
    z-index: 800;
    width: 50px;
    left: 10px;
    top: 57%;
    height: 200px
}

body.weblind-blue .container-gallery .gallery .slick-prev:before {
    content: url("/img/arrow-prev-black.svg")
}

body.weblind-blue .container-gallery .gallery .slick-slider {
    margin-bottom: 0 !important
}

body.weblind-blue .container-gallery .gallery .slick-next {
    width: 50px;
    height: 200px;
    right: 20px;
    top: 57%;
    z-index: 800
}

body.weblind-blue .container-gallery .gallery .slick-next:before {
    content: url("/img/arrow-next-black.svg")
}

body.weblind-blue .container-gallery .gallery .slick-dots {
    display: none !important;
    bottom: 15px
}

body.weblind-blue .container-gallery .gallery .slick-dots li button:before {
    content: "";
    opacity: 1;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5),inset 0 1px 3px 2px rgba(0,0,0,.39);
    color: white
}

body.weblind-blue .container-gallery .gallery .slick-dots .slick-active button:before {
    color: blue;
    background: #1d3770
}

body.weblind-blue .container-gallery .mission {
    padding: 0;
    background: dodgerblue;
    border: 0;
    flex: 0 1 100%
}

body.weblind-blue .useful-links .links-block .link {
    color: black
}

body.weblind-blue .useful-links .links-block .link img {
    display: none
}

body.weblind-blue footer {
    background: dodgerblue;
    color: black
}

body.weblind-blue footer .copy .privacy a {
    color: black
}

body.weblind-blue footer .made-in--text {
    font: 10px Helvetica,Verdana,sans-serif;
    margin: 0;
    color: #000
}

body.weblind-blue footer .made-in--year {
    font: 10px Helvetica,Verdana,sans-serif;
    margin: 0;
    color: black
}

body.weblind-blue footer .made-in--link {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid lightslategrey;
    padding-bottom: 1px;
    transition-duration: .3s
}

body.weblind-blue footer .made-in--link:hover {
    color: lightcoral;
    border-bottom: 1px solid lightcoral;
    transition-duration: .3s;
    text-decoration: none
}

body.weblind-brown {
    background: #fbf7c6;
    color: #744307 !important
}

body.weblind-brown h2 a,body.weblind-brown h1,body.weblind-brown h3,body.weblind-brown h4,body.weblind-brown h5,body.weblind-brown a {
    color: #744307
}

body.weblind-brown header {
    background-image: none
}

body.weblind-brown header img {
    filter: saturate(0)
}

body.weblind-brown header a.logo {
    color: #744307
}

body.weblind-brown header .contacts .phone {
    color: #744307
}

body.weblind-brown header .contacts a {
    color: #744307
}

body.weblind-brown .news-flex .news-item:nth-child(1) {
    margin-left: 0
}

body.weblind-brown .news-flex .news-item:hover .title {
    color: #744307
}

body.weblind-brown .news-flex .news-item img {
    visibility: hidden;
    display: none;
    transition-duration: .3s
}

body.weblind-brown .news-flex .news-item a {
    text-decoration: none;
    display: block;
    color: #744307
}

body.weblind-brown .news-flex .news-item .date {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-size: .8em;
    color: white;
    padding: 3px 10px;
    background: #744307
}

body.weblind-brown .news-flex .news-item .title {
    font-size: 1.1em;
    border-bottom: 1px solid #744307
}

body.weblind-brown .news-flex .news-item .intro {
    margin-top: 10px;
    display: block
}

body.weblind-brown nav.main {
    background: none;
    box-shadow: none;
    border-top: 3px solid #744307;
    border-bottom: 3px solid #744307
}

body.weblind-brown nav.main .container a {
    color: #744307;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent
}

body.weblind-brown nav.main .container a:hover {
    border-right: 3px solid #744307;
    border-left: 3px solid #744307;
    background: #744307;
    color: white
}

body.weblind-brown .main-top-info .news .news-more-link {
    font-size: 1.2em;
    color: #744307;
    text-decoration: none;
    border-bottom: 1px solid #744307
}

body.weblind-brown .main-top-info .news .news-more-link:after {
    content: "→";
    border-bottom: 0
}

body.weblind-brown .main-top-info .side-info {
    padding-top: 90px;
    max-width: 250px
}

body.weblind-brown .main-top-info .side-info img {
    display: none
}

body.weblind-brown .main-top-info .side-info .button {
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #744307;
    display: block;
    border-radius: 4px;
    color: #744307
}

body.weblind-brown .main-top-info .side-info .button:hover {
    background: #744307;
    color: white
}

body.weblind-brown .container-events {
    margin-top: 60px
}

body.weblind-brown .container-events .events {
    display: flex;
    flex-wrap: wrap
}

body.weblind-brown .container-events .events .event {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 0;
    box-sizing: border-box
}

body.weblind-brown .container-events .events .event img {
    width: 100%
}

body.weblind-brown .container-events .events .event .event-date {
    background: white;
    border: 3px solid #744307;
    box-shadow: 0 7px 21px 0 rgba(0,0,50,.4);
    border-radius: 5px;
    text-align: center;
    color: #744307;
    min-width: 70px;
    padding: 10px 0 15px 0;
    margin: 0 20px 0 0
}

body.weblind-brown .container-events .events .event .event-date .event-date-number {
    font-size: 2.2em;
    line-height: 1.1
}

body.weblind-brown .container-events .events .event .event-date .event-date-month {
    font-size: .9em
}

body.weblind-brown .container-events .events .event .event-info-title {
    font-size: 22px;
    color: #744307
}

body.weblind-brown .container-events .events .event .event-info-desc {
    margin-top: 10px
}

body.weblind-brown .container-actions {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between
}

body.weblind-brown .container-actions .action-button {
    display: block;
    text-align: center;
    font-size: 1.6em;
    width: 50%;
    border: 3px solid;
    padding: 15px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 8px
}

body.weblind-brown .container-actions .action-button:hover {
    background: #744307;
    color: white;
    border: 3px solid #744307
}

body.weblind-brown .container-actions .action-button-book {
    border-color: #744307;
    color: #744307
}

body.weblind-brown .container-actions .action-button-book:hover {
    background: #744307;
    color: white;
    border: 3px solid #744307
}

body.weblind-brown .container-gallery-wrapper h2 {
    display: none
}

body.weblind-brown .container-gallery {
    display: flex;
    margin-bottom: 60px
}

body.weblind-brown .container-gallery .gallery {
    visibility: hidden;
    display: none;
    flex: 1 0;
    min-width: 300px
}

body.weblind-brown .container-gallery .gallery .slick-prev {
    z-index: 800;
    width: 50px;
    left: 10px;
    top: 57%;
    height: 200px
}

body.weblind-brown .container-gallery .gallery .slick-prev:before {
    content: url("/img/arrow-prev-black.svg")
}

body.weblind-brown .container-gallery .gallery .slick-slider {
    margin-bottom: 0 !important
}

body.weblind-brown .container-gallery .gallery .slick-next {
    width: 50px;
    height: 200px;
    right: 20px;
    top: 57%;
    z-index: 800
}

body.weblind-brown .container-gallery .gallery .slick-next:before {
    content: url("/img/arrow-next-black.svg")
}

body.weblind-brown .container-gallery .gallery .slick-dots {
    display: none !important;
    bottom: 15px
}

body.weblind-brown .container-gallery .gallery .slick-dots li button:before {
    content: "";
    opacity: 1;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5),inset 0 1px 3px 2px rgba(0,0,0,.39);
    color: white
}

body.weblind-brown .container-gallery .gallery .slick-dots .slick-active button:before {
    color: #744307;
    background: #1d3770
}

body.weblind-brown .container-gallery .mission {
    padding: 0;
    background: transparent;
    border: 0;
    flex: 0 1 100%
}

body.weblind-brown .useful-links .links-block .link {
    color: #744307
}

body.weblind-brown .useful-links .links-block .link img {
    display: none
}

body.weblind-brown footer {
    background: #fbf7c6;
    color: #744307
}

body.weblind-brown footer .copy .privacy a {
    color: #744307
}

body.weblind-brown footer .made-in--text {
    font: 10px Helvetica,Verdana,sans-serif;
    margin: 0;
    color: #744307
}

body.weblind-brown footer .made-in--year {
    font: 10px Helvetica,Verdana,sans-serif;
    margin: 0;
    color: #744307
}

body.weblind-brown footer .made-in--link {
    color: #744307;
    text-decoration: none;
    border-bottom: 1px solid lightslategrey;
    padding-bottom: 1px;
    transition-duration: .3s
}

body.weblind-brown footer .made-in--link:hover {
    color: lightcoral;
    border-bottom: 1px solid lightcoral;
    transition-duration: .3s;
    text-decoration: none
}

.pagination {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
    margin: 30px auto 0 auto
}

.pagination>li {
    display: inline
}

.pagination>li>a,.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination>li:last-child>a,.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7
}

.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.pagination-lg>li>a,.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333
}

.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.pagination-sm>li>a,.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.search-form {
    margin: 10px 0;
    display: flex
}

.search-form input {
    width: 60%;
    border: 1px solid black;
    border-right: 1px solid gainsboro;
    border-radius: 4px 0 0 4px;
    padding: 5px 0 7px 5px
}

.search-form button {
    flex: 1 0 auto;
    padding: 5px 0 7px 0;
    background: transparent;
    border: 1px solid black;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition-duration: .3s
}

.search-form button:hover {
    background: #1d3770;
    color: white;
    transition-duration: .3s
}

.modal-body p {
    text-align: center
}

.modal-body input[type="text"],.modal-body textarea {
    background-color: #e7e7eb;
    margin: 0 0 20px 0;
    padding: 10px 10px;
    line-height: initial;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px
}

.modal-body button.nv-send {
    width: 100%;
    border-radius: 4px;
    background-color: #1d3770;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-family: "daysregular",sans-serif;
    box-sizing: border-box;
    border: 2px solid #1d3770;
    transition-duration: .3s;
    cursor: pointer
}

.modal-body button.nv-send:hover {
    color: #1d3770;
    background: white;
    border: 2px solid #1d3770;
    transition-duration: .3s
}

.close {
    float: right;
    font-size: 30px;
    line-height: 1;
    color: #303030;
    opacity: .7;
    padding: 0;
    font-family: "Arial",sans-serif
}

.close:hover,.close:focus {
    color: #303030;
    text-decoration: none;
    cursor: pointer;
    opacity: .5
}

button.close {
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    appearance: none
}

